{% extends "static.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}


	



		<div class="kf_content_wrap">

			<div class="kf_inr_banner">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!--KF INR BANNER DES Wrap Start-->
							<div class="kf_inr_ban_des">
								<div class="inr_banner_heading">
									<h3>Mission Digital School</h3>
									<p>Success story</p>
								</div>
							</div>
							<!--KF INR BANNER DES Wrap End-->
						</div>
					</div>
				</div>
			</div>

			<!--COURSE OUTER WRAP START-->
			<div class="kf_course_outerwrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">

								<br/>


								
								<div class="edu2_blog_page">
		    							<!--EDUCATION BLOG PAGE WRAP START-->
		    						<div class="edu2_blogpg_wrap">
		    							<div class="blog_slider_thumb">
											<div id="owl-demo-blog" class="owl-carousel owl-theme">
												<div class="item">
													<figure>
				    									<img src='{% static 'img/banner/1.jpg' %}' >
				    								</figure>
												</div>
												
											</div>
										</div>
									</div>
									<!--EDUCATION BLOG PAGE WRAP END-->
								</div>


								<!--COURSE CATEGORIES WRAP START-->
								<div class="kf_cur_catg_wrap">
									<!--COURSE CATEGORIES WRAP HEADING START-->
									<div class="col-md-12">
										<div class="kf_edu2_heading1">
											<h3>Success Story of Mission Digital School</h3>
										</div>
										<div style="color: #000; text-align: justify;">

											<h5>How School Education Department, Maharashtra upscaled digital
innovations of a village teacher Mr. Sandeep Gund across the state</h5>

											<blockquote cite="http://www.worldwildlife.org/who/index.html">
												<b><p style=" text-align: center;">Zilla Parishad Primary School in Pashtepada, a remote tribal hamlet situated
in Shahapur Block, Thane district, Maharashtra has transformed itself
from a run-down school till 2009, to a vibrant Digital Smart School
today. Change was initiated by Mr. Sandeep Gund, school teacher in
Pashtepada, with support from community and encouragement by School
Education Department, as highlighted in the note below;</p></b>
											</blockquote>			
										</div>




										<div style="color: #000; text-align: justify;">

											<h5>How the change process of Pashtepada Primary School began</h5>

											<blockquote cite="http://www.worldwildlife.org/who/index.html">
												<p>Pashtepada is a small hamlet, situated 40 kms from block headquarters
Shahapur and 80 kms from district headquarters Thane. Mr.
Sandeep Gund got his first posting in this village, with 350 population,
as a Zilla Parishad Primary teacher. The village was hard to
reach; from last bus halt it took 2 kms stretch of walk to reach
Pashtepada. Nevertheless, the teacher was eager to start his work.
When he reached his destination he saw a neglected school building,
and barely fifty percent attendance of the enrolled children.
Neither children nor the parents expected much from the school
and its teachers. But Mr. Gund had  high hopes and bright dreams
for his students.</p>
<p>Noticing that the children get fascinated by screen and moving images,
Mr. Gund decided to make use of computers in his school as a
learning tool. “As a teacher I decided to focus on what interests
children the most. Self-interest leads to wilful learning, ensures
physical and mental participation and concentration, which is crucial
in the learning process.” He got an old computer as donation
from an NGO; the first digital tool in this school. Experimenting on
computer he developed simple learning lessons, got films, made
PPTs to show to children. As students came to know about school
and the school computer, they were attracted to school. but load
scheding is the main problem in the village., to over come this problem
the portable solar base interactive e-learning kit was
developed by Mr Sandip Gund.</p>
<p>With his first step Mr. Gund succeeded in achieving complete attendance.
In order to make better use of technology he carried out
his own research, found out effective ways of using technology, and
also studied merits and de-merits of digital education. With thorough
knowledge he developed his own method of ‘Activity Based
Digital Learning’ (ABDL), and made learning more interactive,
child-cantered and enjoyable with digital tooks, and the innovation
that received him state award and recognition.</p>
											</blockquote>			
										</div>

										<div style="color: #000; text-align: justify;">

											<h5>What is ABDL in the Digital Smart School, Pashtepada</h5>

											<blockquote cite="http://www.worldwildlife.org/who/index.html">
												<p>Today the students in Pashtepada school are free from schoolbags.
As each child has a tablet with
e-books,educational apps, and references uploaded on them. when
the student come with their tablet into school, they connect their
devices by wifi to digital library. At a time all student can
access the data from digital library. The teacher’s master tablet connect
to the projector by casting device and also students tablet. Individual
tablets also store student’s worksheets and any projects
they do in the school, so that they are accessible for evaluation. The
students do their homework in notebooks, so that their writing
skills are retained and improved.</p>
<p>Self learning is encouraged. Screen sharing by teacher and students,
as well as sharing of e-content among one other takes place. Learning
from surrounding environment is also encouraged. Student also
create videos based on their field projects.</p>
<p>Tabs are also used as recording devices to record answers by students
in their own voices, some classroom activities and lectures.
Sometimes they are allowed to take the tablet home, so that family
can see the content, and performance of their children on tab or by
connecting it to their TV. It is equally important to share what goes
on in the school with parents.</p>
<p>The school is well equipped with digital devices like - Interactive
Smart Boards, IR Camera, Interactive Projector, Interactive Monitor,
3D glass. Global virtual classes and tours also take place. Mr.Sandip
Gund has developed smart books by using NFC technology and interactive
pen. He also developed E-Desk, Digital Content library
and Content Development Studio.</p>
<p>All these systems run on solar energy, a one time investment of Rs.
1.25 lakh. The solar unit is portable, as the panels are foldable. Once
charged the school devices can run for 5-6 hours.</p>
<p>Based on his research of students performances Mr. Gund has noted
benefits of digital learning. ABDL helps to accelerate grasping, improves
retention, and reduces absenteeism. Parents and community
are happy with these changes, as they feel assured that their children’s
future will be brighter with digital education.</p>
<p>Mr. Gund prepared a blue print of Digital Smart School, but the
upgradation took place step by step, with gradual fundraising. This
initiative is primarily supported by community, who donated in
cash and through labour, and support also came from NGOs and
other donors.</p>
											</blockquote>			
										</div>



										<div style="color: #000; text-align: justify;">

											<h5>Recognition by the State Government and Support for Replication</h5>

											<blockquote cite="http://www.worldwildlife.org/who/index.html">
												<p>A self-motivated pilot of digital school could be replicated and upscaled
across the state through the support and encouragement of
the School Education Department.</p>
<p>In June 2015 Maharashtra State Government launched ‘Pragat
Shaikshanik Maharashtra’ - a program to enhance learning
achievements of school children. PSM was conceived in response to
the appeal by Mr. Devendra Phadanvis, Chief Minister, GoM, who
focused on quality education as one major goal in KRAs set for the
state. Accordingly Mr. Vinod Tawade, Education Minister, GoM initiated
formation of a comprehensive program PSM with Mr. Nand
Kumar, Principal Secretary, School Education.</p>
<p>PSM showcased best practices of learning across the state. Mr.
Gund became one of the active members of the ‘Techno-savvy
Teacher’s’ - a group of self-motivated digital teachers in the school
who led the digital school movement in Maharashtra.</p>
<p>Earlier Mr. Gund organised training on request for teachers in his
block and district. With support and encouragement from Mr. Nand
Kumar, who shared success story of Pashtepada in his every interaction
with teachers, he reached out to other districts. Mr. Sandip
Gund started getting invitations from other districts, He has conducted
more than 150 trainings to more than 50,000 teachers of
Maharashtra.</p>
<p>In his one-day workshops he made teachers familiar with digital
learning, addressed their inhibitions of using technology, and convinced
them about its benefits. ‘Do not teach computer handling to
children, instead use them as learning medium for them,’ this is
what I tell to all teachers, and build their confidence to handle digital
devices, says Mr. Gund. Making his own journey a case study,
Mr. Gund shared both major aspects - technology and community
participation - integral to his initiative.</p>
<p>Mr. Sandip Gund’s work has been highly appreciated by the Government
of Gujrat . Their education and child welfare minister
along with education secretary visited his remote school and education
department has taken initiative to transform their more than
Thousand government school into High take Digital Schools. With
the help of Sir Foundation , Mr. Sandip Gund got opportunity to
become core committee member of IIM Ahmedabad .</p>
<p>A Global Meet on Innovative Learning Methods was organised in
New Delhi with participation from 25 countries. Mr. Sandip Gund
represented Maharashtra and presented Digital School Model, and
was honoured by the then President Mr. Pranab Mukharjee. Former
President Dr. APJ Abdul Kalam also appreciated his project based
on the use of renewable energy and taking benefit of digital learning
to rural areas.</p>
<p>Mr. Sandip Gund, Who is just thirty- year old, was the youngest
teacher who received the
president Award on Teachers Day 2017 for his enthusiastic approach
to improve quality of Education through technology.</p>
<p>As a digital innovator and teacher Mr. Sandip Gund got a state and
national platform with encouragement by the School Education
Department. He has visited Gujarat, Orissa, Rajasthan and several
other states to organise workshops on digital training for teachers.</p>
<p>After his visit to Pashtepada School in April 2017 Mr. Anil Swarup,
Secretary, Department of School Education and Literacy, GoI, promoted
Mr. Gund’s initiative stating ‘His digital revolution is exemplary’
and shared his story to inspire digital initiatives elsewhere.</p>
<p>Today Digital School Movement in Maharashtra has picked up.
Over 89% of government schools are equipped with digital learning
and over Rs. 326 crores have been raised through crowdsourcing to
upgrade the schools (figures as updated by August 2017). This success
owes its credit to persistent efforts of teachers like Mr. Sandeep
Gund, who paved the way for digital education in government
school when it was beyond imagination for many.</p>
<p></p>
											</blockquote>			
										</div>




									</div>
								</div>
								<!--COURSE CATEGORIES WRAP END-->




							</div>
						</div>
						
					</div>

				</div>
			</div>
			<!--COURSE OUTER WRAP END-->
		</div>

{% endblock %}