{% extends "static.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}



        <!--Banner Wrap Start-->
        <div class="kf_inr_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<!--KF INR BANNER DES Wrap Start-->
                        <div class="kf_inr_ban_des">
                        	<div class="inr_banner_heading">
								<h3>Media Gallery</h3>
                        	</div>
                        </div>
                        <!--KF INR BANNER DES Wrap End-->
                    </div>
                </div>
            </div>
        </div>

        <!--Banner Wrap End-->

    	<!--Content Wrap Start-->
    	<div class="kf_content_wrap">

    		<!--BLOG 3 PAGE START-->
    		<section>
    			<div class="container">
    				<div class="row">
						{% for obj in media  %}
						<div class="modal fade" id="{{ obj.id }}" role="dialog">
						    <div class="modal-dialog modal-lg">
						      <!-- Modal content-->
						        <div class="modal-content">
						        	<div class="modal-header">
						          		<button type="button" class="close" data-dismiss="modal">&times;</button>
						          		<strong>{{ obj.title }}</strong>
						        	</div>
						        	<div class="modal-body">
						        		<img class="img-responsive" src="{{ obj.image.url }}" style="height: 400px; width: 550px; margin:auto;" alt=""/>
										<p>{{ obj.desc }}</p>
						        	</div>
						      </div>
						    </div>
						 </div>

						{% endfor %}

					{% for obj in media %}
    					<div class="col-md-6">
    						<!--BLOG 3 WRAP START-->
    						<div class="blog_3_wrap">
    							<!--BLOG 3 DES START-->
								<div class="blog_3_des">
									<figure>
										<img src="{{ obj.image.url }}" alt=""/>
										<figcaption><a href="#" data-toggle="modal" data-target="#{{ obj.id }}"><i class="fa fa-search-plus"></i></a></figcaption>

									</figure>

									<h5>{{ obj.title }}</h5>
									<p>{{ obj.desc }}</p>
									<a class="readmore" href="#" data-toggle="modal" data-target="#{{ obj.id }}">
										read more
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div><!--BLOG 3 DES END-->
    						</div>
    						<!--BLOG 3 WRAP END-->
    					</div>
						{% endfor %}
    				</div>
    			</div>
			</section>
			<!--BLOG 3 PAGE END-->
    	</div>
        <!--Content Wrap End-->
  {% endblock %}