{% extends "static.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}


        <!--Banner Wrap Start-->
        <div class="kf_inr_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<!--KF INR BANNER DES Wrap Start-->
                        <div class="kf_inr_ban_des">
                        	<div class="inr_banner_heading">
								<h3>our gallery</h3>
                        	</div>
                           
                            <div class="kf_inr_breadcrumb">
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">our gallery</a></li>
								</ul>
							</div>
                        </div>
                        <!--KF INR BANNER DES Wrap End-->
                    </div>
                </div>
            </div>
        </div>

        <!--Banner Wrap End-->

    	<!--Content Wrap Start-->
    	<div class="kf_content_wrap">
    				
    		<div class="gallery-masonery_page gallery inner-content-holder">
    			<div class="container">
	    			<div class="row">
	    				<ul id="filterable-item-filter-1">
							<li><a data-value="all">All</a></li>
							<li><a data-value="1">appreciations</a></li>
							<li><a data-value="2">training for teachers</a></li>
							<li><a data-value="3">training for community</a></li>
							<li><a data-value="4">other states training </a></li>
							<li><a data-value="5">transformation of school</a></li>
						</ul>

	    				<div id="filterable-item-holder-1">


							{% for obj in all %}

							<div class="filterable-item all {{ obj.category }} col-md-3 col-sm-4 col-xs-12">
								<div class="edu_masonery_thumb">
									<!--<img src='{{ obj.image.url }}' alt=""/>-->
									<img class="img-responsive" src='{{ obj.image.url }}'>

									<div>
										<a href="{{ obj.image.url }}" data-rel="prettyPhoto[gallery2]" class="zoom"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
    			</div>
    			<div class="row">
    				<div class="loadmore">
    					<a href="#" class="btn-3">load more</a>
    				</div>
    			</div>
    		</div>
    			
    	</div>
        <!--Content Wrap End-->
      
{% endblock %}