{% extends "static.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
	



		<div class="kf_content_wrap">
			<!--COURSE OUTER WRAP START-->
			<div class="kf_course_outerwrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">

								<br/>


								
								<div class="edu2_blog_page">
		    							<!--EDUCATION BLOG PAGE WRAP START-->
		    						<div class="edu2_blogpg_wrap">
		    							<div class="blog_slider_thumb">
											<div id="owl-demo-blog" class="owl-carousel owl-theme">
												<div class="item">
													<figure>
				    									<img src='{% static 'img/banner/1.jpg' %}' >
				    								</figure>
												</div>
												
											</div>
										</div>
									</div>
									<!--EDUCATION BLOG PAGE WRAP END-->
								</div>


								<!--COURSE CATEGORIES WRAP START-->
								<div class="kf_cur_catg_wrap">
									<!--COURSE CATEGORIES WRAP HEADING START-->
									<div class="col-md-12">
										<div class="kf_edu2_heading1">
											<h3>The Person</h3>
										</div>
										<div style="color: #000; text-align: justify;">
											<p>During the early years of my life, I have had numerous opportunities to choose different
professions, however I chose the teaching profession. The quest for knowledge and a desire to
contribute to the society made me decide to engage into the noble profession of teaching.</p>
<p>
In 2009, I was recruited in a Zilla Parishad School in Pashtepada as a teacher. In the course of
my career I have undertaken many projects to bring the rural and tribal people into
mainstream education and raise their standard. I have had to face many problems like
absenteeism and migration of students; drug addiction, superstitions, illiteracy prevailing
around. However, these challenges along with leaking roofs and broken walls actually
motivated me. We could overcome these problems with the help of education, social
workshops and orientation programms focusing on social awareness.</p>
<p>Absenteeism was a big problem among students in Pashtepada. I noticed that students were fascinated and attracted towards the television which was owned by the ‘Patil’ of the village. This attraction of students towards television inspired me to frame the concept of a ‘Digital School’. Keeping in mind the needs and interests of my students I implemented the concept of a ‘Digital Smart School’ with the help of the society. An attractive environment, Child theater classroom, Tablets, Interactive Monitors, Projectors, Smart Board and Schoolbag-free education are the unique features of my ‘Digital Smart School’. Till date 20 types of technology-based innovations have been implemented in the school. This has made the school attractive and for students. They have become interested in the teaching learning process as they play and learn different things.</p>
<p>The school is situated in a remote area in Maharashtra, where electrical supply was a major problem. This too has been solved by using solar smart e-learning set up which runs on solar energy. I have been successful due to the contribution made by people around me. This in turn has paved the way to the Mission ‘Digital School’ in the State. Under the mission I have started Orientation programs regarding ‘Digital School’ motivating thousands of teachers and villagers to contribute for Digital Schools.</p>
<p>With the support and encouragement from Hon. Mr. Nand Kumar, I shared my success story of Pashtepada during every interaction with teachers. I reached out to other districts and started getting invitations from other districts as well. I have conducted more than 200 training programs with more than one lac teachers of Maharashtra. Through these programs I have provided guidance regarding technology and have tried to make the teachers techno savvy.</p>
<p>With the support and encouragement from Hon. Mr. Nand Kumar, I shared my success story of Pashtepada during every interaction with teachers. I reached out to other districts and started getting invitations from other districts as well. I have conducted more than 200 training programs with more than one lac teachers of Maharashtra. Through these programs I have provided guidance regarding technology and have tried to make the teachers techno savvy.</p>
<p>Due to the persistent support from the education department and the contributions from the society ‘Mission Digital School’ has been growing by leaps and bounds. As many as 63,193 Z.P. Schools have become Digital. More than 1.6 lac teachers have become techno savvy and have enrolled in the ‘Techsavvy Teacher Portal’ willingly. Mission Digital School has gone beyond the boundaries of the education sector and has revolutionized teaching methods all over India. It has promoted digital literacy and appropriate utilization of technology to facilitate children’s learning process.
</p>
<p>Under guidance of Hon. Nand Kumar, Secretary Education Dept. Maharashtra, I'm working on an innovative concept of 'Digital Village' as well along with Digital School. In Digital Village TV at home and a smartphone of learners' parents are used as a teaching aids. A WiFi enabled smart learning Zone has been created in a common place like temple or ‘Chavadi’ ( a haunt). In this zone students from different age groups and parents are also going through the lessons of/for education.</p>
<p></p>

											
										</div>
									</div>
								</div>
								<!--COURSE CATEGORIES WRAP END-->




							</div>
						</div>
						
					</div>

				</div>
			</div>
			<!--COURSE OUTER WRAP END-->
		</div>

{% endblock %}