












{% extends "static.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}


	<!--KF KODE WRAPPER WRAP START-->
    <div class="kode_wrapper">
        <!--Banner Wrap Start-->
        <div class="kf_inr_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<!--KF INR BANNER DES Wrap Start-->
                        <div class="kf_inr_ban_des">
                        	<div class="inr_banner_heading">
								<h3>Blog</h3>
                                <p>By Sandip Gund</p>
                        	</div>

                            <div class="kf_inr_breadcrumb">
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
                        </div>
                        <!--KF INR BANNER DES Wrap End-->
                    </div>
                </div>
            </div>
        </div>

        <!--Banner Wrap End-->

    	<!--Content Wrap Start-->
    	<div class="kf_content_wrap">

    		<!--BLOG 3 PAGE START-->
    		<section class="right-sidebar">
    			<div class="container">
    				<div class="row">
                        <div class="col-md-4">
                        	<div class="kf-sidebar">


                                <!--KF SIDEBAR RECENT POST WRAP START-->
                                <div class="row">
                                    <div class="col-md-12">


                                <div class="widget widget-recent-posts">
                                    <h2>Earlier Posts</h2>
                                    <ul class="sidebar_rpost_des">
                                        <!--LIST ITEM START-->
                                        {% for obj in all %}
                                        <li>
                                            <div class="kode-text">
                                                <h6><a href="#">{{obj.title}}</a></h6>
                                                <span><i class="fa fa-clock-o"></i>{{obj.timestamp}}</span>
                                            </div>

                                        </li>
                                        {% endfor %}
                                        <!--LIST ITEM START-->
                                    </ul>
                                </div>
                                 </div>
                                </div>
                                <!--KF SIDEBAR RECENT POST WRAP END-->

                                <!--KF SIDEBAR RECENT POST WRAP START-->
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="widget widget-recent-posts">
                                            <h2>Follow us on</h2>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <a href="#"><img src="./images/fb.png" height="50" width="50"/></a>

                                                </div>
                                                <div class="col-md-3">
                                                    <a href="#"><img src="./images/insta.png" height="50" width="50"/></a>

                                                </div>
                                                <div class="col-md-3">

                                                    <a href="#"><img src="./images/utube.png" height="50" width="50"/></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--KF SIDEBAR RECENT POST WRAP END-->

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {% for obj in all %}



                                <div class="col-md-12">
                                    <!--BLOG 3 WRAP START-->
                                    <div class="blog_3_wrap">
                                        <!--BLOG 3 SIDE BAR START-->
                                        <!--BLOG 3 SIDE BAR END-->
                                        <!--BLOG 3 DES START-->
                                        <div class="blog_3_des">
                                            {% if obj.image %}
                                            <figure>
                                                <img src='{{ obj.image.url }}' >
                                                <figcaption><a href="/blogpostdetail/"><i class="fa fa-search-plus"></i></a></figcaption>
                                            </figure>
                                            {% endif %}

                                            <h5>{{ obj.title }}</h5>

                                             <ul>
                                                <li><a href="/sandip-gund">Sandip Gund</a>{{ obj.timestamp }}</li>
                                                <li><a href="#"><i class="fa fa-link"></i></a>169</li>
                                            </ul>
                                            <p>{{ obj.para1 }} </p>
                                            <a class="readmore" href="/blog/{{obj.id}}/">
                                                read more
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <!--BLOG 3 DES END-->
                                    </div>
                                    <!--BLOG 3 WRAP END-->
                                </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
    			</div>
			</section>
			<!--BLOG 3 PAGE END-->
    	</div>

    </div>
    <!--KF KODE WRAPPER WRAP END-->

    {% endblock %}