<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block content %}
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>testimonials</title>
	<!-- Bootstrap core CSS -->
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}'/>


</head>

<body>

<div class="text-center " style="background-color:#ccc;">
  <h1>Testimonials Dashboard</h1>
</div>


	<!--KF KODE WRAPPER WRAP START-->
    <div class="kode_wrapper" style="margin-top:50px;">


        <div class="container" style="margin-bottom:20px;">
            <button  class="btn btn-danger" onclick="parent.location='/dashboard'">Home</button>
        </div>


			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="container" >
                                <form method='POST' action='' enctype='multipart/form-data'>
                                {% csrf_token %}
                                    <div class="well col-md-6 col-md-offset-3" id="box">
                                        <h2 style="border-bottom:1px solid black" id="design"><strong>Add photos</strong></h2>
                                        <div class="form-group">


                                              {{ form1 | crispy }}

                                        </div>
                                        <button type='submit' class="btn btn-success" onclick="parent.location=''"> Add </button>

                                    </div>
                                </form>
						</div>

					</div>
				</div>
			</section>



			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div style="padding:5px;">

								{% for obj in all %}

							<div class="col-md-6 col-sm-4" >
								<div>
									<div class='dropdown'>
										<button style="background-color:#ccc;" class='btn-menu btn dropdown-toggle pull-right menu' type='button' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
											<span  class='glyphicon glyphicon-option-vertical' aria-hidden='true' aria-label='Right Align'></span>
										</button>
										<ul class='dropdown-menu' aria-labelledby='dropdownMenu1' style="margin-left:330px; margin-top:10px;">
											<li><a href='/dashboard/photogallery/delete/{{obj.id}}'>Delete</a></li>
										</ul>
									</div>



								</div>

								<div class="edu_masonery_thumb" style="background-color:#ccc; padding:10px;">
									<div>
										<p data-toggle="tooltip" title="{{ obj.comment }}">{{obj.comment | truncatechars:80}}</p>
                                		<h4>{{ obj.occupation }}</h4>
										<h3>By: {{ obj.name }}</h3>
									</div>
								</div>

								<br><br><br>
							</div>

							{% endfor %}

							</div>
						</div>

					</div>
				</div>
			</section>




    </div>


<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>


</body>

</html>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


{% endblock content %}


